body {
  height: 98vh;
}

.container{
  height: 98vh;
  margin-left: 230px;
  width: 760px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.row{
  border:1px solid rgb(5, 5, 14);
  width: 30px;
  height: 30px;
  background-color: rgb(228, 225, 225);
}

.changed {
  border: 1px solid rgb(5, 5, 14);
  width: 30px;
  height: 30px;
}

main{
position: absolute;
top: 10%;
right: 47%;
transform: translateY(-50%);
transform: translateY(-50%);
}
