* {
  padding: 0;
  margin: 10;
}

.container{
height: 89vh;
width: 100wh;
display: flex;
justify-content: center;
align-items: center;
}

.box{
  border: 2px solid black;
  height: 50%;
  width: 50%;
}

.row{
  padding: 10px;
  border: 2px solid black;
  background-color: aquamarine;
}